############################
# ===== Python =====
############################
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Python packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Logs
*.log

############################
# ===== Node / UI =====
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# ===== Terraform =====
############################
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.hcl
terraform.tfvars

############################
# ===== GitOps Runtime =====
############################
deploy-repo/

############################
# ===== CI/CD =====
############################
jenkins_home/
workspace/

############################
# ===== IDEs =====
############################
.vscode/
.idea/
*.swp
*.swo
*~

############################
# ===== OS =====
############################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

############################
# ===== Misc =====
############################
.ipynb_checkpoints/
